 <div class="jumbotron">
        <h1>Herzlich willkommen zum Wiss-O-Mat!</h1>
        <p>Du willst herausfinden, wie viel Wissen in dir steckt? Willst du dein Wissen mit anderen vergleichen? Beantworte jetzt 37 Fragen und wir sagen dir, wo du stehst. Je nach Testergebnis bekommst du von uns im Anschluss an den Test eine individuelle Medienempfehlung. Denn mit den passenden Medien kannst du dein politisches Wissen ganz leicht verbessern.</p>
</div>
<!-- hier kommen noch die grafiken hin -->

<div class="jumbotron">
<p>Der Wiss-O-Mat richtet sich an Jugendliche und junge Erwachsene zwischen 14 und 29 Jahren. Aber auch jeder andere ist herzlich willkommen, am Wiss-O-Mat teilzunehmen.
        <p><a href="/#!/introduction" class="btn btn-primary btn-lg" role="button">Und los geht's! »</a></p>
      </div>